@import '~antd/dist/antd.less';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  min-width: 320px;
}

.ant-table-column-sorter {
  margin-left: 8px;
}

.tv-column--nowrap {
  white-space: nowrap;
  width: 1%;
}

.tv-contestantDetails {
  &__content {
    h5 {
      margin-bottom: 0;
    }
  }

  &__flag {
    margin-right: 14px;
    width: 100%;
  }
}

.tv-GNBB {
  display: flex;
  margin-top: 1rem;
  justify-content: center;

  button {
    height: auto;
    padding: 2px;
    transition: none;

    img {
      filter: drop-shadow( 0 0 1px rgba( 18, 3, 56, 0.75 ) );
      width: 80px;
    }

    &:active {
      transform: scale( 0.875 );
    }
  }
}

.tv-ratingForm {
  .ant-rate {
    display: flex;
    justify-content: space-between;
  }

  .ant-rate-star {
    display: flex;

    .anticon svg {
      height: 2.5em;
      width: 2.5em;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.tv-ratingSummary {
  &__title {
    display: block;
  }
}

.tv-registrationForm {
  h5 {
    margin-bottom: 0;
  }

  input {
    text-transform: uppercase;
  }

  .ant-input-affix-wrapper {
    border-radius: 0.334rem;
  }
}

.tv-siderClientsTable {
  .@{ant-prefix}-badge-status {
    &-dot {
      margin: 0 4px;
    }

    &-text {
      color: @menu-dark-highlight-color;
    }
  }

  .@{ant-prefix}-table {
    background: transparent;
    color: inherit;

    &-tbody > tr > td {
      border-bottom: 0;

      &.@{ant-prefix}-table-cell-row-hover {
        background: transparent;
      }
    }

    &.@{ant-prefix}-table-small {
      .@{ant-prefix}-table-tbody > tr > td {
        padding: 8px 0;
      }
    }
  }

  .@{ant-prefix}-table-empty .@{ant-prefix}-table-tbody {
    > tr.@{ant-prefix}-table-placeholder {
      color: @menu-dark-color;

      > td:hover {
        background: transparent;
      }
    }
  }

  .tv-column__voted {
    color: @primary-color;
  }
}

.tv-siderHeading {
  display: flex;
  flex-basis: 100%;

  &__badge {
    margin-left: auto;
  }

  &__icon {
    margin-right: 8px;
  }
}

.tv-preview {
  background: linear-gradient( to top right, @magenta-5, @purple-5 ) fixed no-repeat;
  padding: 1rem;
  position: relative;

  @media ( min-width: 390px ) {
    &--mobile {
      border-radius: 1.867rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 390px;
    }
  }
}

.tv-host {
  border-radius: 0.334rem;
  height: calc(100vh - 2rem);
  overflow: hidden;

  &__content {
    overflow: scroll;
    padding: 0 16px;
  }

  &__footer {
    padding: 16px;
    text-align: center;
  }

  &__header {
    padding: 0;
  }

  &__sider {
    padding-top: 64px;

    .@{ant-prefix}-collapse > .@{ant-prefix}-collapse-item {
      > .@{ant-prefix}-collapse-content {
        background: @menu-dark-inline-submenu-bg;
        color: @menu-dark-highlight-color;
      }

      > .@{ant-prefix}-collapse-header {
        color: @menu-dark-color;
      }

      &-active,
      &:hover {
        > .@{ant-prefix}-collapse-header {
          color: @menu-dark-highlight-color;
        }
      }
    }
  }
}
